/* Utility class */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}
body{
    background-color: hsl(195deg 53% 79%) ;
}
.container{
    width:80%;
    margin: auto;
}
/* Utility class */

/* Container class */

header{
    margin: 1rem 0;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-shadow: 1px 2px black, 1px 1px black, 1px 0px black, 0px 0px black;
}