/* Utility class */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}
body{
    background-color: hsl(195deg 53% 79%) ;
}
.container{
    width:80%;
    margin: auto;
    position: relative;

}
/* Utility class */

/* Container class */

    /* Header class */
    header{
    margin: 0.5rem 0;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #535353;
    }
    /*/Header class  */

    /* Main class */
    main{
        position: absolute;
        left: 310px;
    }
    .raw1, .raw2, .raw3{
        margin-bottom: 1.5rem;
    } 
        
        /* proprietà immagini nascoste e sfondo */
    .pattern{
        display: inline-block;
        margin-right: 1rem;
        width: 200px;
        height: 230px;
        border-radius: 15px;
        background-image: url(../img/pattern.png);
        background-size: contain;
        box-shadow: 2px 2px 2px #535353;
    }
    .img{
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        display: none;
        position: relative;
    }
   .pattern:hover .img{
        display: inline-block;
    }
    .imghide{    
        position:absolute;
        top:0;
        width: 100%;
        height: 80%;
    }
        /* /proprietà immagini nascoste e sfondo */


        /* proprietà immagine fissa */
    .patternbaloon{
        display: inline-block;
        margin-right: 1rem;
        width: 200px;
        height: 230px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 2px 2px 2px #535353;
    }
    .baloon{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .bg_baloon{
        position:absolute;
        top:0;
        width: 100%;
        height: 80%;
    }
        /* /proprietà immagine fissa */

    span{
        font-size: 30px;
        position:absolute;
        bottom: 1rem;
        left:50%;
        transform: translateX(-50%);
    }
/* /Main class */

/* Footer class */

.booleanfoot{
    font-size: medium;
    text-align: center;
    margin-top: 820px;
    padding-bottom: 2rem;
}
/* /Footer class */